.about {
  padding-top: 17px;
  padding-bottom: 281px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  background-image: url("../img/photo-about-desktop@1x.png"),
    url("../img/watercolor-Bg-desktop@1x.jpg");
  background-repeat: no-repeat,
    no-repeat;
  background-position: 50% 70%,
    50% bottom;
  background-size: 870px 460px,
    contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/photo-about-desktop@2x.png"),
      url("../img/watercolor-Bg-desktop@2x.jpg");
  }
}

.about h2 {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #1fc0fc;
}

.about p {
  display: block;
  margin: 0 auto;
  margin-bottom: 227px;
  padding: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 29px;
  font-weight: normal;
  color: #484848;
  max-width: 695px;
}

.about button {
  margin: 0;
  padding: 0;
  font-size: 0;
  position: relative;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/play-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 96px;
  height: 96px;

  &:hover {
    cursor: pointer;
    background-image: url("../img/play-button-hover.svg");
  }

  &:active {
    cursor: pointer;
    background-image: url("../img/play-button-active.svg");
  }
}

@media (max-width: $mob-width) {
  .about {
    padding-top: 45px;
    padding-bottom: 96px;
    text-align: center;
    background-image: url("../img/photo-about-mobile@1x.png"),
      url("../img/watercolor-Bg-mobile@1x.jpg");
    background-repeat: no-repeat,
      no-repeat;
    background-position: 50% 91%,
      50% 60%;
    background-size: 320px 224px,
      contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-about-mobile@2x.png"),
        url("../img/watercolor-Bg-mobile@2x.jpg");
    }
  }

  .about h2 {
    margin-bottom: 23px;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.02em;
  }

  .about p {
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 129px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }

  .about button {
    width: 80px;
    height: 80px;
    background-size: contain;
  }
}
