.details {
  padding-left: 110px;
  padding-top: 16px;
  padding-bottom: 75px;
  background-color: #ffffff;
  color: #000000;
  background-image: url("../../img/map-desktop@1x.png"),
    url("../../img/details-bg-desktop@1x.jpg");
  background-repeat: no-repeat,
    no-repeat;
  background-position: right 22px,
    50% -74px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/map-desktop@2x.png"),
      url("../../img/details-bg-desktop@2x.jpg");
    background-size: 705px,
      1366px;
  }
}

.details h2 {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1fc0fc;
}

.details__choose-city {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 39px;
  padding-left: 22px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #484848;
  opacity: 0.74;

  &::before {
    position: absolute;
    content: "";
    background: url("../../img/marker-mobile@1x.png") no-repeat 0 0;
    width: 12px;
    height: 18px;
    top: 0;
    left: 4px;
  }
}

.details__choose-city span {
  &:first-of-type {
    margin-right: 15px;
  }

  &:nth-of-type(2) {
    font-weight: 500;
    font-variant: small-caps;
    border-bottom: 1px dashed #1fc0fc;
    margin-right: 7px;
  }
}

.details__choose-city button {
  font-size: 0;
  line-height: 0;
  background-image: url("../../img/gps-marker-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  width: 16px;
  height: 15px;
  border: none;
  cursor: pointer;
}

.details__kurator-info {
  display: flex;
  margin-bottom: 19px;
}

.details img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.details__kurator-info-wrapper {
  max-width: 270px;
  padding-left: 25px;
}

.details__your-kurator {
  color: #1fc0fc;
  margin-right: 3px;
}

.details__kurator-info-wrapper p {
  &:first-child {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    padding-top: 1px;
    font-family: "Fira Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #484848;
    opacity: 0.74;
  }

  &:nth-child(2) {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    font-family: "Fira Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #484848;
    opacity: 0.74;
    letter-spacing: -0.01em;
  }
}

.details__social-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 96px;
  left: -5px;
}

.details a {
  font-size: 0;
}

.details__about-kurator {
  margin: 0;
  margin-bottom: 128px;
  padding: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 29px;
  color: #484848;
  opacity: 0.87;
  max-width: 480px;
  letter-spacing: -0.01em;
}

.details__bottom-wrapper {
  display: flex;
}

.details__form-text-wrapper {
  margin-right: 17px;
}

.details__form-text-wrapper p {
  &:first-child {
    margin: 0;
    padding: 0;
    padding-top: 4px;
    margin-bottom: 13px;
    font-family: "Fira Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #484848;
    opacity: 0.87;
    max-width: 330px;
  }

  &:last-child {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #484848;
    opacity: 0.5;
    max-width: 360px;
  }
}

.details__form-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.details__form input {
  max-height: 58px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 39px;
  padding-right: 21px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: #484848;
  opacity: 0.5;
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.details__name-label input {
  margin-right: 23px;
  margin-bottom: 15px;
}

.details__phone-label input {
  margin-right: 24px;
}

.details__error-message {
  position: absolute;
  top: 64px;
  left: 302px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: #ff0000;
  opacity: 0.75;
  display: none;
}

.details__form button {
  max-height: 58px;
  margin: 0;
  padding: 17px 39px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.details label {
  font-size: 0;
  line-height: 0;
}

.details__icon-facebook,
.details__icon-whatsup,
.details__icon-telegram {
  fill: #d6d6d6;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tab-width) {
  .details {
    background-image: url("../../img/map-desktop@1x.png"),
      none;
    background-position: right 390px;
  }

  .details__form-wrapper {
    flex-direction: column;
  }

  .details__about-kurator {
    margin-bottom: 430px;
  }

  .details__name-label input,
  .details__phone-label input {
    margin-right: 0;
  }

  .details__phone-label input {
    margin-bottom: 30px;
  }

  .details__error-message {
    top: 131px;
    left: 21px;
  }
}

@media (max-width: $mob-width) {
  .details {
    padding-left: 0;
    padding-top: 33px;
    padding-bottom: 63px;
    background-image: url("../../img/map-desktop@1x.png"),
      none;
    background-position: 66% 665px;
    background-size: 655px;
    text-align: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/map-desktop@2x.png"),
        none;
      background-size: 655px;
    }
  }

  .details h2 {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 39px;
  }

  .details__choose-city {
    text-align: left;
    padding-left: 38px;
    margin-bottom: 39px;

    &::before {
      top: 0;
      left: 20px;
    }
  }

  .details__choose-city span {
    &:first-of-type {
      margin-right: 15px;
    }

    &:nth-of-type(2) {
      padding-bottom: 0;
    }
  }

  .details__kurator-info {
    padding-left: 16px;
    margin-bottom: 0;
    flex-direction: column;
  }

  .details img {
    margin-bottom: 20px;
  }

  .details__kurator-info-wrapper {
    text-align: left;
    padding-left: 0;
    margin-bottom: 15px;
    max-width: 100%;
  }

  .details__kurator-info-wrapper p:nth-child(2) {
    margin-bottom: 14px;
  }

  .details__about-kurator {
    padding-left: 15px;
    padding-right: 20px;
    margin-bottom: 485px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
  }

  .details__bottom-wrapper {
    flex-direction: column;
  }

  .details__form-text-wrapper {
    text-align: left;
    padding-left: 15px;
    margin-right: 0;
    margin-bottom: 34px;
  }

  .details__form-text-wrapper p {
    &:first-child {
      margin: 0;
      padding: 0;
      margin-bottom: 13px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      max-width: 100%;
    }

    &:last-child {
      margin: 0;
      padding: 0;
      font-family: "Fira Sans", "Arial", sans-serif;
      font-size: 13px;
      line-height: 19px;
      color: #484848;
      opacity: 0.5;
      max-width: 360px;
    }
  }

  .details__form-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .details__phone-label input,
  .details__name-label input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .details__phone-label input {
    margin-bottom: 24px;
  }

  .details__error-message {
    top: 126px;
    left: 45px;
  }

  .details__form button {
    max-height: 100%;
    margin: 0 auto;
    padding: 20px 63px;
  }
}
