.how-go {
  background-color: #ffffff;
  color: #000000;
  background-image: url("../img/stamp-desktop@1x.png"),
    url("../img/bg-how-desktop@1x.png");
  background-repeat: no-repeat,
    no-repeat;
  background-position: 1150px 371px,
    0 -40px;
  background-size: 337px,
    cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/stamp-desktop@2x.png"),
      url("../img/bg-how-desktop@2x.png");
  }
}

.how-go__bg-wrapper {
  padding-top: 191px;
  padding-bottom: 108px;
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("../img/img-how-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: 12px 161px;
  background-size: 581px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/img-how-desktop@2x.png");
  }
}

.how-go__wrapper {
  padding-left: 616px;
  max-width: 525px;
}

.how-go h2 {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #1fc0fc;
}

.how-go__about {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  margin-bottom: 32px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #484848;
  opacity: 0.87;
  letter-spacing: -0.002em;
}

.how-go b {
  display: block;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-right: 70px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 29px;
  color: #484848;
}

.how-go ul {
  position: relative;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  padding-left: 41px;
  padding-right: 65px;
  list-style: none;
  border-left: 2px dashed #dadada;
  letter-spacing: -0.005em;
}

.how-go__condition p {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #484848;

  &::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "1";
    background-color: #ffffff;
    width: 36px;
    height: 36px;
    top: -8px;
    left: -60px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-family: "Fira Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 29px;
    color: #ffc341;
  }
}

.how-go__condition span {
  opacity: 0.87;
}

.how-go__condition {
  margin-bottom: 54px;
}

.how-go__condition--second {
  margin-bottom: 46px;

  & p::after {
    content: "2";
  }
}

.how-go__condition--third {
  margin-bottom: 39px;

  & p::after {
    top: 1px;
    content: "3";
  }
}

.how-go__condition--fourth {
  margin-bottom: 20px;

  & p::after {
    top: -4px;
    content: "4";
  }

  & p::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 110px;
    top: 31px;
    left: -46px;
    background-color: #ffffff;
  }
}

.how-go__budget {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #484848;
  opacity: 0.5;
  max-width: 520px;
  letter-spacing: -0.01em;
  border-left-width: 4px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -3px;
    width: 4px;
    height: 100%;
    background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
  }
}

@media (max-width: $tab-width) {
  .how-go {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
    padding-bottom: 0;
    background-image: url("../img/stamp-desktop@1x.png"),
      none;
    background-repeat: no-repeat,
      no-repeat;
    background-position: right 50%,
      0 0,
      0 0;
    background-size: 337px,
      0;
  }

  .how-go__bg-wrapper {
    padding-top: 0;
    padding-left: 0;
    background-image: none;
  }

  .how-go__wrapper {
    padding-left: 0;
  }
}

@media (max-width: $mob-width) {
  .how-go {
    padding-left: 16px;
    padding-right: 15px;
    padding-top: 80px;
    padding-bottom: 48px;
    background-image: none,
      url("../img/stamp-mobile@1x.png");
    background-repeat: no-repeat,
      no-repeat;
    background-position: 0 0,
      right 354px;
    background-size: 0,
      216px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: none,
        url("../img/stamp-mobile@2x.png");
    }
  }

  .how-go__bg-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: none;
    }
  }

  .how-go__wrapper {
    padding-left: 0;
    max-width: 290px;
    margin: 0 auto;
  }

  .how-go h2 {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }

  .how-go__about {
    padding-right: 0;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 22px;
  }

  .how-go b {
    padding-right: 0;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.004em;
  }

  .how-go ul {
    margin-left: 9px;
    margin-bottom: 24px;
    padding-left: 34px;
    padding-right: 1px;
  }

  .how-go__condition {
    margin-bottom: 59px;

    & p::after {
      content: "1";
      top: -9px;
      left: -53px;
    }
  }

  .how-go__condition--second {
    margin-bottom: 37px;

    & p::after {
      content: "2";
      top: 2px;
    }
  }

  .how-go__condition--third {
    margin-bottom: 26px;

    & p::after {
      top: 13px;
      content: "3";
    }
  }

  .how-go__condition--fourth {
    margin-bottom: 0;

    & p::before {
      left: -37px;
    }

    & p::after {
      top: 13px;
      content: "4";
    }
  }

  .how-go__condition p {
    font-size: 14px;
    line-height: 22px;
  }

  .how-go__budget {
    padding-left: 8px;
    font-size: 14px;
    line-height: 22px;

    &::before {
      top: -2px;
      left: -6px;
    }
  }
}
