.how-go {
  padding-left: 698px;
  padding-top: 191px;
  padding-bottom: 129px;
  background-color: #ffffff;
  color: #000000;
  background-image: url("../../img/img-how-desktop@1x.png"),
    url("../../img/bg-how-desktop@1x.png"),
    url("../../img/stamp-desktop@1x.png");
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: 12px 160px,
    0 -40px,
    1150px 370px;
  background-size: 581px,
    1366px,
    337px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/img-how-desktop@2x.png"),
      url("../../img/bg-how-desktop@2x.png"),
      url("../../img/stamp-desktop@2x.png");
    background-position: 12px 160px,
      0 -40px,
      1150px 370px;
    background-size: 581px,
      1366px,
      337px;
  }
}

.how-go__wrapper {
  max-width: 525px;
}

.how-go h2 {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #1fc0fc;
}

.how-go__about {
  margin: 0;
  padding: 0;
  padding-right: 40px;
  margin-bottom: 32px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #484848;
  opacity: 0.87;
  letter-spacing: -0.002em;
}

.how-go b {
  display: block;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-right: 60px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 29px;
  color: #484848;
}

.how-go ul {
  position: relative;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  padding-left: 43px;
  padding-right: 60px;
  list-style: none;
  border-left: 2px dashed #dadada;
  letter-spacing: -0.005em;
}

.how-go__condition p {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #484848;
  opacity: 0.87;

  &::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "1";
    background-color: #ffffff;
    width: 36px;
    height: 36px;
    top: -8px;
    left: -60px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-family: "Fira Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 29px;
    color: #ffc341;
  }
}

.how-go__condition {
  margin-bottom: 54px;

  &:nth-child(2) {
    margin-bottom: 46px;

    & p::after {
      content: "2";
    }
  }

  &:nth-child(3) {
    margin-bottom: 39px;

    & p::after {
      top: 1px;
      content: "3";
    }
  }

  &:last-child {
    margin-bottom: 20px;

    & p::after {
      top: -4px;
      content: "4";
    }

    & p::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 110px;
      top: 31px;
      left: -46px;
      background-color: #ffffff;
    }
  }
}

.how-go__budget {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #484848;
  opacity: 0.5;
  max-width: 520px;
  letter-spacing: -0.01em;
  border-left-width: 4px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -1px;
    width: 4px;
    height: 100%;
    background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
  }
}

@media (max-width: $tab-width) {
  .how-go {
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 75px;
    padding-bottom: 0;
    background-image: none,
      none,
      url("../../img/stamp-desktop@1x.png");
    background-repeat: no-repeat,
      no-repeat,
      no-repeat;
    background-position: 0 0,
      0 0,
      right top;
    background-size: 0,
      0,
      337px;
  }
}

@media (max-width: $mob-width) {
  .how-go {
    padding-left: 16px;
    padding-right: 15px;
    padding-top: 80px;
    padding-bottom: 48px;
    background-image: none,
      none,
      url("../../img/stamp-mobile@1x.png");
    background-repeat: no-repeat,
      no-repeat,
      no-repeat;
    background-position: 0 0,
      0 0,
      right 354px;
    background-size: 0,
      0,
      216px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: none,
        none,
        url("../../img/stamp-mobile@2x.png");
    }
  }

  .how-go h2 {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }

  .how-go__about {
    padding-right: 0;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 22px;
  }

  .how-go b {
    padding-right: 0;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.004em;
  }

  .how-go ul {
    margin-left: 9px;
    margin-bottom: 24px;
    padding-left: 34px;
    padding-right: 1px;
  }

  .how-go__condition {
    margin-bottom: 59px;

    & p::after {
      content: "1";
      top: -8px;
      left: -51px;
    }

    &:nth-child(2) {
      margin-bottom: 37px;

      & p::after {
        content: "2";
        top: 3px;
      }
    }

    &:nth-child(3) {
      margin-bottom: 26px;

      & p::after {
        top: 14px;
        content: "3";
      }
    }

    &:last-child {
      margin-bottom: 0;

      & p::before {
        left: -37px;
      }

      & p::after {
        top: 14px;
        content: "4";
      }
    }
  }

  .how-go__condition p {
    font-size: 14px;
    line-height: 22px;
  }

  .how-go__budget {
    padding-left: 4px;
    font-size: 14px;
    line-height: 22px;
  }
}
