.live-israel {
  padding-top: 80px;
  padding-bottom: 56px;
  background-color: #ffffff;
  color: #000000;
  background-image: url("../../img/watch-desktop@1x.png"),
    url("../../img/live-israel-Bg-desktop@1x.jpg");
  background-repeat: no-repeat,
    no-repeat;
  background-position: 103% 693px,
    50% 128%;
  background-size: 124px 148px,
    contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/watch-desktop@1x.png"),
      url("../../img/live-israel-Bg-desktop@2x.jpg");
  }
}

.live-israel img {
  display: block;
  margin: 0;
  padding: 0;
}

.live-israel h2 {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #1fc0fc;
  text-align: center;
}

.live-israel__about {
  padding: 0;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 31px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 29px;
  color: #484848;
  opacity: 0.87;
  width: 720px;
  text-align: right;
  letter-spacing: -0.005em;
}

.live-israel__photos {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  max-width: 1158px;
  justify-content: flex-start;
}

.live-israel__photo-wrapper {
  padding-top: 13px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.live-israel__first-couple-photos-wrapper {
  margin-bottom: 30px;
  display: flex;
  max-width: 652px;
  justify-content: space-between;
}

.live-israel__second-couple-photos-wrapper {
  display: flex;
  max-width: 655px;
  justify-content: space-between;
}

.live-israel__first-photo {
  position: relative;
  margin-top: -54px;
  margin-right: 15px;
}

.live-israel__second-photo,
.live-israel__third-photo,
.live-israel__fourth-photo,
.live-israel__fifth-photo {
  position: relative;
}

.live-israel__second-photo {
  margin-right: 30px;
  // TODO: при разрешении меньше 1070px уезжают подписи к фотографиям, ничего не могу с этим сделать так, чтобы не падала вся верстка фотографий.
}

.live-israel__fourth-photo {
  margin-right: 30px;
}

.live-israel__photos p {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.live-israel__first-photo p {
  max-width: 360px;
  top: 651px;
  left: 40px;
}

.live-israel__second-photo p {
  max-width: 10px;
  top: 237px;
  left: 24px;
}

.live-israel__third-photo p {
  max-width: 320px;
  top: 237px;
  left: 28px;
}

.live-israel__fourth-photo p {
  max-width: 360px;
  top: 237px;
  left: 32px;
}

.live-israel__fifth-photo p {
  max-width: 120px;
  top: 237px;
  left: 24px;
}

.live-israel__indicators {
  display: none;
}

@media (max-width: $tab-width) {
  .live-israel {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 16px;
    padding-right: 16px;
    background: none;
  }

  .live-israel__photos {
    flex-direction: column;
    align-items: center;
  }

  .live-israel h2 {
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0;
  }

  .live-israel__about {
    padding: 0;
    margin: 0 30px;
    width: auto;
    text-align: left;
  }

  .live-israel__first-photo {
    margin: 0;
  }
}

@media (max-width: $mob-width) {
  .live-israel {
    position: relative;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 79px;
    padding-top: 30px;
    background: none;
    overflow: hidden;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: none;
    }
  }

  .live-israel h2 {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 39px;
  }

  .live-israel__about {
    margin-bottom: 441px;
    margin-left: 0;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    text-align: left;
  }

  .live-israel__photos {
    position: absolute;
    padding: 0;
    margin: 0;
    margin-bottom: 17px;
    max-width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .live-israel__photo-wrapper {
    padding: 0;
    display: block;
  }

  .live-israel__first-couple-photos-wrapper {
    margin: 0;
    display: block;
  }

  .live-israel__second-couple-photos-wrapper {
    margin: 0;
    display: block;
  }

  .live-israel__photos p {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }

  .live-israel__first-photo,
  .live-israel__second-photo,
  .live-israel__third-photo,
  .live-israel__fourth-photo,
  .live-israel__fifth-photo {
    position: relative;
    padding: 0;
    margin: 0;
    display: none;
  }

  .live-israel__first-photo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -54%);
    width: 264px;
  }

  .live-israel__first-photo img {
    width: 264px;
    height: 400px;
  }

  .live-israel__first-photo p {
    max-width: 208px;
    top: 314px;
    left: 28px;
  }

  .live-israel__second-photo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -4%);
    width: 264px;
  }

  .live-israel__second-photo img {
    width: 264px;
    height: 400px;
  }

  .live-israel__second-photo p {
    max-width: 208px;
    top: 350px;
    left: 53px;
  }

  .live-israel__third-photo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -4%);
    width: 264px;
    overflow: hidden;
    display: block;

  }

  .live-israel__third-photo img {
    transform: translateX(-100px);
    max-width: 441px;
    height: 400px;
  }

  .live-israel__third-photo p {
    max-width: 208px;
    top: 314px;
    left: 40px;
  }

  .live-israel__fourth-photo img {
    width: 411px;
    height: 319px;
  }

  .live-israel__fourth-photo p {
    max-width: 208px;
    top: 314px;
    left: 40px;
  }

  .live-israel__fifth-photo img {
    width: 264px;
    height: 400px;
  }

  .live-israel__fifth-photo p {
    max-width: 208px;
    top: 314px;
    left: 40px;
  }

  .live-israel__indicators {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 62px;
    justify-content: space-between;
    align-items: center;
  }

  .live-israel__indicator {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #484848;
    opacity: 0.2;
  }

  .live-israel__indicator--active {
    width: 8px;
    height: 8px;
    background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
    opacity: 1;
  }

  .live-israel__indicator span {
    font-size: 0;
    line-height: 0;
  }
}
