.masa-photo {
  background-color: #ffffff;
  color: #000000;
}

.masa-photo__bg-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding-bottom: 302px;
  padding-top: 224px;
  background-image: url("../img/cynthia-magana-138943-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: 3px 103px;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/cynthia-magana-138943-desktop@2x.png");
  }
}

.masa-photo__wrapper {
  padding-left: 620px;
  max-width: 397px;
  text-align: left;
}

.masa-photo h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 2px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #1fc0fc;
}

.masa-photo p {
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 29px;
  color: #ffffff;
  opacity: 0.87;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.masa-photo__watch-btn {
  position: relative;
  display: inline-block;
  padding-top: 21px;
  padding-bottom: 18px;
  padding-left: 71px;
  padding-right: 44px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  letter-spacing: -0.02em;
  cursor: pointer;
}

.masa-photo__icon-insta {
  position: absolute;
  top: 18px;
  left: 39px;
  fill: #ffffff;
}

@media (max-width: $tab-width) {
  .masa-photo {
    padding-top: 155px;
  }

  .masa-photo__bg-wrapper {
    padding-top: 0;
    padding-bottom: 267px;
  }

  .masa-photo__wrapper {
    padding: 0;
    padding-left: 45%;
    padding-top: 211px;
    max-width: 397px;
  }
}

@media (max-width: $mob-width) {
  .masa-photo {
    text-align: center;
    padding-top: 0;
    padding-bottom: 40px;
  }

  .masa-photo__bg-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url("../../img/cynthia-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 22% 44px;
    background-size: 632px 272px;
  }

  .masa-photo__wrapper {
    margin: 0;
    padding: 0;
    padding-left: 11px;
    padding-right: 13px;
    max-width: 100%;
  }

  .masa-photo h2 {
    padding: 0;
    margin-bottom: 96px;
  }

  .masa-photo p {
    margin: 0;
    padding: 0;
    max-width: 332px;
    padding-left: 4%;
    margin-bottom: 57px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
  }

  .masa-photo__watch-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 17px;
    padding-left: 77px;
  }

  .masa-photo__icon-insta {
    top: 18px;
    left: 22%;
  }
}
