.modal-position {
  position: fixed;
  padding-top: 123px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(229, 229, 229, 0.95);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
