.modal-order-callback {
  display: none;
  position: relative;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 42px;
  padding-left: 48px;
  padding-right: 72px;
  background-color: #ffffff;
  width: 480px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.modal-order-callback__title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  color: #1fc0fc;
  letter-spacing: -0.02em;
}

.modal-order-callback__message {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #484848;
  opacity: 0.87;
}

.modal-order-callback__form {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
}

.modal-order-callback__form input[type="text"],
.modal-order-callback__form input[type="tel"] {
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 38px;
  width: 100%;
  border: 2px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 80px;
  appearance: none;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #484848;
  opacity: 0.87;
  letter-spacing: -0.04em;

  &:valid {
    border-color: #484848;
  }

  &:focus {
    border-color: #ffd701;
  }
}

.modal-order-callback__form input[type="text"] {
  margin-bottom: 8px;

  &:valid {
    border-color: #484848;
  }
}

.modal-order-callback__form input[type="tel"] {
  margin-bottom: 24px;
}


.modal-order-callback__error-message {
  position: absolute;
  top: 125px;
  left: 101px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: #ff0000;
  opacity: 0.75;
  display: none;
}

.modal-order-callback__form input::placeholder {
  opacity: 0.5;
}

.modal-order-callback__form input[type="submit"] {
  margin-left: 59px;
  margin-bottom: 17px;
  padding: 19px 63px;
}

.modal-order-callback__checkbox-label {
  display: block;
  margin-left: 84px;
  margin-right: 20px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: #484848;
  opacity: 0.74;
  cursor: pointer;
  text-align: left;
}

.modal-order-callback__checkbox-label input {
  position: absolute;
  left: -9999px;

  &:checked + .modal-order-callback__custom-checkbox {
    background-color: #fffd00;
  }

  &:focus + .modal-order-callback__custom-checkbox {
    border: 1px solid blue;
  }
}

.modal-order-callback__custom-checkbox {
  position: absolute;
  margin-left: -24px;
  background: url("../../img/checkbox.svg") no-repeat 50% 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.modal-order-callback__close-button {
  position: absolute;
  background: url("../../img/close-button.svg") no-repeat 50% 50%;
  width: 18px;
  height: 18px;
  top: 32px;
  right: 32px;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tab-width) {
  .modal-order-callback {
    padding: 169px 16px;
    background-color: #ffffff;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
  }

  .modal-order-callback__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 29px;
  }

  .modal-order-callback__message {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 22px;
  }

  .modal-order-callback__form input[type="text"],
  .modal-order-callback__form input[type="tel"] {
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 38px;
    width: 70%;
    border: 2px solid #e3e3e3;
    box-sizing: border-box;
    border-radius: 80px;
  }

  .modal-order-callback__form input[type="text"] {
    margin-bottom: 8px;
  }

  .modal-order-callback__form input[type="tel"] {
    margin-bottom: 24px;
  }

  .modal-order-callback__error-message {
    left: 150px;
  }

  .modal-order-callback__form input[type="submit"] {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 17px;
    padding: 19px 63px;
  }

  .modal-order-callback__form label {
    position: relative;
    margin: 0 auto;
    padding-left: 24px;
    width: 60%;
    text-align: center;
  }

  .modal-order-callback__custom-checkbox {
    position: absolute;
    margin-left: -24px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

@media (max-width: $mob-width) {
  .modal-order-callback {
    padding: 169px 16px;
  }

  .modal-order-callback__title {
    margin-bottom: 16px;
  }

  .modal-order-callback__message {
    width: 287px;
    margin-bottom: 32px;
    padding: 0 13px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    box-sizing: border-box;
    //TODO: сомнительно отцентровал, текст не совпадает по макету.
  }

  .modal-order-callback__close-button {
    top: 23px;
    right: 24px;
  }

  .modal-order-callback__form input[type="text"],
  .modal-order-callback__form input[type="tel"] {
    width: 100%;
  }

  .modal-order-callback__error-message {
    left: 25px;
  }

  .modal-order-callback__form input[type="submit"] {
    width: 92%;
  }

  .modal-order-callback__form label {
    width: 85%;
    text-align: left;
  }
}
