.page-header__wrapper {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 110px;
  padding-right: 114px;
}

.page-header__callback-wrapper {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__telephone {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #484848;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-header__callback {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  color: #484848;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-bottom: 2px dashed #484848;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-header__logo {
  position: absolute;
  left: 44.8%;
}

@media (max-width: $tab-width) {
  .page-header__wrapper {
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .page-header__callback-wrapper {
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
  }

  .page-header__telephone {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 17px;
  }

  .page-header__callback {
    margin-right: 2px;
    font-size: 14px;
    line-height: 17px;
  }

  .page-header__logo {
    position: absolute;
    left: 16px;
    top: 20px;
    order: 0;
  }

  .page-header__logo img {
    width: 120px;
    height: 42px;
  }
}
