.programms {
  padding-bottom: 62px;
  padding-top: 105px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ffffff;
  color: #000000;
  background-image: url("../../img/programms-sketch-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: right 26%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/programms-sketch-desktop@2x.png");
    background-size: 680px;
  }
}

.programms__wrapper {
  padding-left: 160px;
  display: flex;
}

.programms ul {
  margin: 0;
  margin-right: 42px;
  padding: 0;
  padding-top: 3px;
  min-width: 250px;
  list-style: none;
}

.programms__item {
  display: block;
  margin-bottom: 5px;
  padding-left: 0;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.programms__item--active .programms__button {
  background-image: url("../../img/programms-button-desktop.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  font-variant: small-caps;
  opacity: 1;

  &:hover {
    background-image: url("../../img/programms-button-desktop.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-clip: border-box;
    color: #ffffff;
    opacity: 1;
    cursor: auto;
  }
}

.programms__button {
  width: 229px;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 73px;
  padding-right: 30px;
  text-align: left;
  background-color: transparent;
  border: none;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #484848;
  opacity: 0.87;
  cursor: pointer;
  word-break: break-all;
  box-sizing: border-box;

  &:hover {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(132.19deg, #ffc341 20.46%, #ffd701 65.31%);
    opacity: 0.87;
  }

  &:active {
    opacity: 0.5;
  }
}

.programms__button--general {
  &::before {
    position: absolute;
    content: "";
    background: url("../../img/general.png") no-repeat 50% 50%;
    width: 28px;
    height: 33px;
    top: 16px;
    left: 24px;
  }

  &:hover::before {
    background: url("../../img/general-hover.png") no-repeat 50% 50%;
  }
}

.programms__item--active .programms__button--general {
  &::before {
    background: url("../../img/general-active.png") no-repeat 50% 50%;
  }
}

.programms__button--study {
  &::before {
    position: absolute;
    content: "";
    background: url("../../img/study.png") no-repeat 50% 50%;
    width: 36px;
    height: 35px;
    top: 14px;
    left: 19px;
  }

  &:hover::before {
    background: url("../../img/study-hover.png") no-repeat 50% 50%;
  }
}

.programms__item--active .programms__button--study {
  &::before {
    background: url("../../img/study-active.png") no-repeat 50% 50%;
  }
}

.programms__button--work {
  &::before {
    position: absolute;
    content: "";
    background: url("../../img/work.png") no-repeat 50% 50%;
    width: 32px;
    height: 25px;
    top: 18px;
    left: 21px;
  }

  &:hover::before {
    background: url("../../img/work-hover.png") no-repeat 50% 50%;
  }
}

.programms__item--active .programms__button--work {
  &::before {
    background: url("../../img/work-active.png") no-repeat 50% 50%;
  }
}

.programms__button--volunteer {
  &::before {
    position: absolute;
    content: "";
    background: url("../../img/volunteer.png") no-repeat 50% 50%;
    width: 32px;
    height: 29px;
    top: 16px;
    left: 22px;
  }

  &:hover::before {
    background: url("../../img/volunteer-hover.png") no-repeat 50% 50%;
  }
}

.programms__item--active .programms__button--volunteer {
  &::before {
    background: url("../../img/volunteer-active.png") no-repeat 50% 50%;
  }
}

.programms__button--religion {
  &::before {
    position: absolute;
    content: "";
    background: url("../../img/religion.png") no-repeat 50% 50%;
    width: 23px;
    height: 25px;
    top: 18px;
    left: 26px;
  }

  &:hover::before {
    background: url("../../img/religion-hover.png") no-repeat 50% 50%;
  }
}

.programms__item--active .programms__button--religion {
  &::before {
    background: url("../../img/religion-active.png") no-repeat 50% 50%;
  }
}

.programms h2 {
  padding: 0;
  margin: 0;
  padding-left: 160px;
  margin-bottom: 65px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #1fc0fc;
}

.programms__about {
  display: none;
  padding-top: 17px;

  &--active {
    display: block;
  }
}

.programms h3 {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: #1fc0fc;
}

.programms p {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #484848;
  opacity: 0.87;

  &:first-of-type {
    margin-bottom: 15px;
    max-width: 560px;
  }

  &:last-of-type {
    max-width: 520px;
  }
}

@media (max-width: $tab-width) {
  .programms__wrapper {
    padding-left: 115px;
  }

  .programms h2 {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: $mob-width) {
  .programms {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
    background-image: url("../../img/programms-sketch-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 24px 33%;
    background-size: contain;
    overflow: hidden;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/programms-sketch-mobile@2x.png");
    }
  }

  .programms__wrapper {
    padding-left: 16px;
    padding-right: 15px;
    flex-direction: column;
  }

  .programms h2 {
    margin-bottom: 12px;
    padding-left: 0;
    font-size: 32px;
    line-height: 39px;
  }

  .programms ul {
    display: flex;
    width: auto;
    margin-right: 0;
    margin-bottom: 14px;
    transform: translateX(-56px);
  }

  .programms h3 {
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 29px;
  }

  .programms p {
    font-size: 14px;
    line-height: 22px;

    &:first-of-type {
      margin-bottom: 15px;
      width: auto;
    }

    &:last-of-type {
      width: auto;
    }
  }

  .programms__item {
    margin-bottom: 0;
    margin-right: 0;
  }

  .programms__item--active .programms__button {
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-variant: small-caps;
    opacity: 1;
    background: linear-gradient(141.47deg, #ffc341 20.46%, #ffd701 65.31%);
    border-radius: 60px;

    &:hover {
      background: linear-gradient(141.47deg, #ffc341 20.46%, #ffd701 65.31%);
    }
  }

  .programms__button {
    width: auto;
    padding: 15px;
    padding-left: 50px;
    padding-right: 12px;
    word-break: normal;

    &:hover {
      color: transparent;
      background-image: linear-gradient(132.19deg, #ffc341 20.46%, #ffd701 65.31%);
      opacity: 0.87;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .programms__button--general {
    &::before {
      width: 28px;
      height: 33px;
      top: 8px;
      left: 10px;
    }

    &:hover::before {
      background: url("../../img/general-hover.png") no-repeat 50% 50%;
    }
  }

  .programms__item--active .programms__button--general {
    &::before {
      background: url("../../img/general-active.png") no-repeat 50% 50%;
    }
  }

  .programms__button--study {
    &::before {
      width: 36px;
      height: 35px;
      top: 7px;
      left: 9px;
    }

    &:hover::before {
      background: url("../../img/study-hover.png") no-repeat 50% 50%;
    }
  }

  .programms__item--active .programms__button--study {
    &::before {
      background: url("../../img/study-mobile.png") no-repeat 50% 50%;
    }
  }

  .programms__button--work {
    &::before {
      background: url("../../img/work-mobile.png") no-repeat 50% 50%;
      width: 32px;
      height: 25px;
      top: 12px;
      left: 12px;
    }

    &:hover::before {
      background: url("../../img/work-hover.png") no-repeat 50% 50%;
    }
  }

  .programms__item--active .programms__button--work {
    &::before {
      background: url("../../img/work-active.png") no-repeat 50% 50%;
    }
  }
  // TODO: дальше нет мобильных иконок, чтобы их выставить в соответствии с макетом.
  .programms__button--volunteer {
    &::before {
      width: 32px;
      height: 29px;
      top: 16px;
      left: 22px;
    }

    &:hover::before {
      background: url("../../img/volunteer-hover.png") no-repeat 50% 50%;
    }
  }

  .programms__item--active .programms__button--volunteer {
    &::before {
      background: url("../../img/volunteer-active.png") no-repeat 50% 50%;
    }
  }

  .programms__button--religion {
    &::before {
      width: 23px;
      height: 25px;
      top: 18px;
      left: 26px;
    }

    &:hover::before {
      background: url("../../img/religion-hover.png") no-repeat 50% 50%;
    }
  }

  .programms__item--active .programms__button--religion {
    &::before {
      background: url("../../img/religion-active.png") no-repeat 50% 50%;
    }
  }
}
