.programms {
  padding-top: 423px;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("../../img/programms_sketch_desktop@1x.png");
  background-repeat: no-repeat;
  background-position: right -4px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/programms_sketch_desktop@2x.png");
    background-size: 680px;
  }
}

.programms__wrapper {
  padding-left: 231px;
  display: flex;
}

.programms ul {
  margin: 0;
  margin-right: 18px;
  padding: 0;
  padding-top: 3px;
  min-width: 250px;
  list-style: none;
}

.programms__item {
  display: block;
  margin-bottom: 46px;

  &:last-child {
    margin-bottom: 0;
  }
}

.programms__item--active {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: url("../../img/programms_button_desktop.png") no-repeat 50% 50%;
    width: 228px;
    height: 68px;
    top: -19px;
    left: -24px;
  }
}

.programms__item--active .programms__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  font-variant: small-caps;
  opacity: 1;

  &:hover {
    color: #ffffff;
    opacity: 1;
    cursor: auto;
  }
}

.programms__button {
  position: relative;
  margin: 0;
  //margin-bottom: 50px;
  padding: 0;
  padding-left: 48px;
  background-color: transparent;
  border: none;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #484848;
  opacity: 0.87;
  cursor: pointer;

  &:hover {
    color: #ffd701;
    //TODO: в макете заливка букв градиентная при ховере
  }

  &:active {
    opacity: 0.5;
  }
}

.programms__button--general {
  &::before {
    position: absolute;
    content: "";
    background: url("../../img/general.png") no-repeat 50% 50%;
    width: 28px;
    height: 33px;
    top: -6px;
    left: 0;
  }

  &:hover::before {
    background: url("../../img/general_hover.png") no-repeat 50% 50%;
  }
}

.programms__item--active .programms__button--general {
  &::before {
    background: url("../../img/general_active.png") no-repeat 50% 50%;
  }
}

.programms__button--study {
  &::before {
    position: absolute;
    content: "";
    background: url("../../img/study.png") no-repeat 50% 50%;
    width: 36px;
    height: 35px;
    top: -8px;
    left: -4px;
  }

  &:hover::before {
    background: url("../../img/study_hover.png") no-repeat 50% 50%;
  }
}

.programms__item--active .programms__button--study {
  &::before {
    background: url("../../img/study_active.png") no-repeat 50% 50%;
  }
}

.programms__button--work {
  &::before {
    position: absolute;
    content: "";
    background: url("../../img/work.png") no-repeat 50% 50%;
    width: 32px;
    height: 25px;
    top: -3px;
    left: -2px;
  }

  &:hover::before {
    background: url("../../img/work_hover.png") no-repeat 50% 50%;
  }
}

.programms__item--active .programms__button--work {
  &::before {
    background: url("../../img/work_active.png") no-repeat 50% 50%;
  }
}

.programms__button--volunteer {
  &::before {
    position: absolute;
    content: "";
    background: url("../../img/volunteer.png") no-repeat 50% 50%;
    width: 32px;
    height: 25px;
    top: -5px;
    left: -2px;
  }

  &:hover::before {
    background: url("../../img/volunteer_hover.png") no-repeat 50% 50%;
  }
}

.programms__item--active .programms__button--volunteer {
  &::before {
    background: url("../../img/volunteer_active.png") no-repeat 50% 50%;
  }
}

.programms__button--religion {
  &::before {
    position: absolute;
    content: "";
    background: url("../../img/religion.png") no-repeat 50% 50%;
    width: 23px;
    height: 25px;
    top: -3px;
    left: 2px;
  }

  &:hover::before {
    background: url("../../img/religion_hover.png") no-repeat 50% 50%;
  }
}

.programms__item--active .programms__button--religion {
  &::before {
    background: url("../../img/religion_active.png") no-repeat 50% 50%;
  }
}

.programms h2 {
  margin: 0;
  margin-left: 207px;
  margin-bottom: 82px;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #1fc0fc;
}

.programms__about {
  display: none;

  &--active {
    display: block;
  }
}

.programms h3 {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: #1fc0fc;
}

.programms p {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #484848;
  opacity: 0.87;

  &:first-of-type {
    margin-bottom: 15px;
    max-width: 560px;
  }

  &:last-of-type {
    max-width: 520px;
  }
}

@media (max-width: $tab-width) {
  .programms__wrapper {
    padding-left: 115px;
  }

  .programms h2 {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: $mob-width) {
  .programms {
    padding-top: 23px;
    padding-left: 0;
    padding-right: 0;
    background-image: url("../../img/programms_sketch_mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 24px 31%;
    background-size: contain;
    overflow: hidden;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/programms_sketch_mobile@2x.png");
    }
  }

  .programms__wrapper {
    padding-left: 16px;
    padding-right: 15px;
    flex-direction: column;
  }

  .programms h2 {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 39px;
  }

  .programms ul {
    display: flex;
    width: auto;
    margin-right: 0;
    margin-bottom: 32px;
    transform: translateX(-56px);
  }

  .programms h3 {
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 29px;
  }

  .programms p {
    font-size: 14px;
    line-height: 22px;

    &:first-of-type {
      margin-bottom: 15px;
      width: auto;
    }

    &:last-of-type {
      width: auto;
    }
  }

  .programms__item {
    padding: 11px 11px;
    margin-bottom: 0;
  }

  .programms__item--active {
    background: linear-gradient(141.47deg, #ffc341 20.46%, #ffd701 65.31%);
    border-radius: 60px;

    &::before {
      display: none;
    }
  }

  .programms__item--active .programms__button {
    font-size: 16px;
    line-height: 19px;

    &:hover {
      color: #ffffff;
      opacity: 1;
      cursor: auto;
    }
  }

  .programms__button {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    color: #484848;
    opacity: 0.4;

    &:hover {
      color: #ffd701;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .programms__button--work {
    &::before {
      background: url("../../img/work_mobile.png") no-repeat 50% 50%;
      width: 32px;
      height: 25px;
      top: -3px;
      left: 1px;

      //TODO: при переключениях кнопки дергаются из-за того, что в макете есть пара иконок мобильной версии, а в стайлгайде они только десктопные. Если везде оставить десктопные иконки, т обудет ок, но не попадает по макету.
    }
  }

  .programms__item--active .programms__button--study {
    &::before {
      background: url("../../img/study_mobile.png") no-repeat 50% 50%;
      width: 32px;
      height: 32px;
      top: -5px;
      left: 0px;
    }
  }
}
